.number{
    background-color: $colo-black-2;
    color: $color-white-0;
    .number__content{
        text-align: center;
        padding: 90px;
        .number__item{
            .fa{
                margin-right: $mg-0 + 5;
                font-size: $fs-4;
            }
            span{
                font-size: $fs-4;
                margin-bottom: $mg-0 + 5;
                line-height: 1.5;
                
            }
            p{
                margin-top: $mg-0 + 5;
                letter-spacing: 1px;
                font-size: $fs-0;
            }
        }
    }
}

