/* global */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Roboto Condensed', sans-serif;
    
}
body{
    position: relative;
}

::selection{
    background-color: #ec7532;
    color: white;
}
/* line style */
.line::after{
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all.5s;
    box-shadow: 0 0 20px 0 #fbbd61;
}
.line:hover::after{
    content: '';
    width: 100%;
}
.line.active::after{
    width: 100%;
}

/* header  */
header{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
header.container p{
    text-align: right;
    /* margin-bottom: 0px; */
}
header.container span{
    border-right: 1px solid white;
    padding-right: 0.5rem;
}
header.container .custom-ul ul{
    margin-left: auto!important;
}


#movieNavbar a{
    color: white;
    letter-spacing: 3px;
    line-height: 0.8em;
}
#movieNavbar .navbar-nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#movieNavbar .nav-link{
    padding: 20px 24px;
}
/* carousel  */
.movieCarousel-content{
    animation-delay: 0.5s;
}
.movieCarousel ol{
    z-index: 999;
}
.movieCarousel .carousel-inner .carousel-caption p:nth-child(1){
    color: #fbbd61;
    font-size: 0.875rem;
    letter-spacing: 2px;
    margin: 0px;
    animation-delay: 0.5s;
}
.movieCarousel .carousel-custom{
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.movieCarousel .carousel-custom h2{
    font-size: 3.25rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.movieCarousel .carousel-custom .carousel-caption p:nth-child(2){
    font-size: 1.125rem;
    margin-bottom: 20px;
}
.movieCarousel .carousel-custom span.PG{
    width: 48px;
    height: 48px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 48px;
    font-size: 0.8rem;
    margin-right: 8px;
}
.carousel-custom button{
    padding: 12px 24px;
    color: white;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border-radius: 30px;
    border: none;
    font-size: 0.8rem;
    letter-spacing: 4px;
    
}
.movieCarousel-content button{
    position: relative;
    overflow: hidden;
}
.movieCarousel-content button::before{
    content: "";
    width: 110%;
    height: 100%;
    display: block;
    background-color: #ec7532;
    position: absolute;
    top: 0px;
    left: -5px;
    /* transform: translateX(-100%); */
    transform: skewX(30deg) translateX(-100%);
    transition: all .5s;
    z-index: 1;
}
.movieCarousel-content button:hover::before{
    transform: translateX(0) skewX(30deg);
}
.movieCarousel-content button:hover{
    color: white;
}
.movieCarousel-content button span{
    position: relative;
    z-index: 2;
}

.carousel-overplayy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
}

#carousel1{
    height: 650px;
}
#carousel1 .carousel-inner{
    height: 100%;
}
#carousel1 .carousel-item{
    height: 100%;
    background-position: center;
    background-size: cover;
}
#carousel1 .carousel-item:first-child{
    background-image: url("../img/hero-1.jpg");
}
#carousel1 .carousel-item:nth-child(2){
    background-image: url("../img/hero-2.jpg");
}
#carousel1 .carousel-item:nth-child(3){
    background-image: url("../img/hero-3 .jpg");
}
#carousel1 .p-custom{
    font-size: 1.125rem;
    margin-bottom: 20px;
}
/* newIn */
.newIn .newIn__overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fbbd61,#ec7532);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: skewX(15deg) translateX(-118%);
    transition: all .5s;
}
.newIn .custom__ni{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.newIn .newIn__custom .custom__ni:hover .newIn__overlay{
    transform: translateX(-15%) skewX(15deg);
    width: 140%;

}
.newIn__play{
    position: absolute;
    z-index: 5;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s;
}
.newIn__play i{
    width: 90px;
    height: 90px;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    line-height: 90px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: all.5s;
}
.newIn .custom__ni:hover .newIn__play i{
    opacity: 1;
}
.newIn__play:hover i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 15px;
}
.newIn__play:hover{
    top: 23%;
}
.newIn h2.h2__newIn{
    color: #ec7532;
    font-size: 1.125rem;
    border-bottom: 1px solid #d8d8d8;
    letter-spacing: 1.7px;
    margin-bottom: 40px;
}
section.newIn{
    padding: 70px 0px;
}
section.newIn h2.h2__newIn::after{
    content: '';
    background: linear-gradient(to right,#fbbd61,#ec7532);
    width: 125px;
    height: 4px;
    display: block;
    margin-top: 20px;
}
.newIn .newIn__title{
    text-align: center;
}
.newIn .newIn__title h3{
    font-size: 18px;
    color: #4a4a4a;
    margin: 1rem 0;
}
.newIn .newIn__star{
    color: #fbbd61;
}

/* header fixed */

#headerFixed{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translate(-50%,-100%);
    transition: transform .5s;
}
#headerFixed .custom-ul{
    justify-content: flex-end;
}

/* show times  */
.showtimes{
    padding: 70px 0;
}
.tab-content p:nth-child(1){
    font-size: 14px;
    letter-spacing: 2px;
    color: #ec7532;
    margin-bottom: 0;
}
.tab-content h3{
    font-size: 24px;
    font-weight: 300;
    color: #101010;
    letter-spacing: 1px;
}
.showtimes .padding-custom{
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: #717171 1px solid;
}
.showtimes .padding-custom:last-child{
    border-bottom: none;
}
/* .times-custom{
    display: inline;
} */
.right-custom{
    text-align: right;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
}
.nav-tabs .nav-link{
    border: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: black;
}
.nav-tabs .nav-link span{
    padding: 15px 30px;
    display: block;
}
.nav-tabs .nav-link.active{
    color: #ec7532;
}

.tab-content img{
    border-radius: 10px;
}
.tab-content a{
    font-size: 12px;
    letter-spacing: 4px;
    color: #ec7532;
    text-decoration: none;
    transition: 0.5s;
}
.tab-content a:hover{
    color: black;
}
.running-times{
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #4a4a4a;
}
.running-times button{
    font-size: 14px;
    letter-spacing: 2px;
    color: #717171;
    background-color: #d8d8d8;
}
/* .running-times button:nth-child(1){
    opacity: 0.65;
} */
.showtimes-min span:last-child{
    width: 33px;
    height: 33px;
    display: inline-block;
    color: white;
    background-color: #4a4a4a;
    text-align: center;
    line-height: 33px;
    border-radius: 50%;
    font-weight: 700;
}

/* comingsoon */
.comingsoon{
    padding: 70px 0;
    background: #101010 url("../img/slide-3.png");
    color: white;
    background-size: cover;
}
.comingsoon__title h2{
    font-size: 1.125rem;
    color: white;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    margin-bottom: 40px;
}
.csm-custom::after{
    content: '';
    background: linear-gradient(to right,#fbbd61,#ec7532);
    width: 125px;
    height: 4px;
    display: block;
    margin-top: 20px;
}
.cms-type{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;
}
.comingsoon__content h3{
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 300;
}
.comingsoon_star i{
    color: #fbbd61;
}
.comingsoon__content .cld{
    color: white;
    margin: 0 1rem;
}
.comingsoon__content .cms-p{
    margin: 1rem 0;
}
.comingsoon__content a{
    font-size: 12px;
    letter-spacing: 4px;
    color: #ec7532;
    text-decoration: none;
    transition: 0.5s;
}
.comingsoon__content a:hover{
    color: white;
}
.comingsoon .play-custom{
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: #ec7532 1px solid;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: all 0.5s;
    color: white;
    
}
.comingsoon .col-6-custom{
    position: relative;
    transition: all 0.5s;
    
}
.comingsoon .col-6-custom:hover i{
    transform:translate(-50%,-50%) scale(0.9);
    
}


/* movieList */
.movieList{
    padding: 70px 0px;
    background-color: #101010;
}
.movie__content{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
}
.movie__over{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #101010;
    opacity: 0.6;
    transition: all 0.5s;
}
.movieList .movie__content:hover .movie__over{
    opacity: 0;
    cursor: pointer;
}
.movieList .col-2{
    padding: 15px;
}

/* contact */
.contact{
    padding: 70px 0px;
    text-align: center;
}
.contact p:first-child{
    font-size: 23px;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-weight: 300;
}
.contact a{
    font-size: 46px;
    color: #fbbd61;
    text-decoration: none;
}

/* footer  */
footer{
    padding-bottom: 10px;
    background-color: #101010;
    color: white;
    text-align: left;
}
footer h3{
    font-size: 16px;
    color: #ec7532;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
footer a{
    font-size: 13px;
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    padding: 3px 0;
    transition: 0.5s;
}
footer li{
    list-style: none;

}
footer ul{
    padding-left:  0px;
}
footer a:hover{
    color: #fbbd61;
}
footer .footer__coppy p{
    border-top: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    height: 3px;
    padding: 15px 0;
}
footer .row-custom{
    padding: 70px 0;
}

/* responsive */
@media screen and (max-width: 991.98px) {
    header .navbar-brand{
        max-width: 180px;
    }
    header .navbar-brand img{
        max-width: 100%;
    }
    #movieNavbar .nav-link{
        font-size: 14px;
        letter-spacing: 2px;
        padding: 20px 12px;
    }
}
@media screen and (max-width: 767.98px) {
    header p:first-child{
        text-align: right;
    }
    header .navbar-toggler{
        color: #ec7532;
    }
    header .navbar-toggler:focus{
        outline: none;
        box-shadow: none;
    }
    #movieNavbar .navbar-nav{
        background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    }

    #movieNavbar .active .nav-link{
        color: #ec7532;
    }
    .line.active::after{
        width: 0px;
    }
    .movieCarousel .carousel-custom h2{
        font-size: 2.5rem;
    }
    .nav-tabs .nav-link a{
        font-size: 16px;
    }
    .nav-tabs .nav-link span{
        padding: 10px 20px;
    }
}
@media screen and (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
    display: flex!important;
    flex-basis: auto;
    text-align: right;
}
header p:first-child{
    text-align: right;
}
}